body{
    background-color: cyan;
}
#box {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: hello;
    animation-duration: 4s;
}
@keyframes hello {
    from {background-color: red;}
    to {background-color: yellow;}
  }
#box p {
    font-size: 1.4vw;
    color: white;
}
